/* _variables.css */
/* _variables.css */
:root {
  /* Light mode colors */
  --color-primary: #0d1b2a;
  --color-secondary: #1b263b;
  --color-accent: #415a77;
  --color-muted: #778da9;
  --color-light: #e0e1dd;
  --color-background: #ffffff;
  --color-surface: #f8f9fa;
  --color-text: #0d1b2a;
  --color-text-muted: #415a77;
  --color-border: #e0e1dd;
  --shadow: rgba(13, 27, 42, 0.1);
  --shadow-hover: rgba(13, 27, 42, 0.2);
  --card-color: white;
  --add-task-bg-color: #5467ae;
  --add-task-text-color: white;
  --main-area-bg: #6478c7;
  --main-task-color: white;
  --main-task-text-color: black;
  --sidebar-bg: #e8e7e7;
  --sidebar-text: black;
  --detail-bg: white;
  --detail-text-color: black;
  --selected-list-bg: #a6a6a6;
  --main-text: black;
  --subtask-action:#415a77;
  --subtask-color: rgb(72, 72, 72);
  --todo-selection-border: rgb(1, 1, 74);
  --addlist: black;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --color-primary: #e0e1dd;
    --color-secondary: #778da9;
    --color-accent: #415a77;
    --color-muted: #1b263b;
    --color-light: #0d1b2a;
    --color-background: #0d1b2a;
    --color-surface: #1b263b;
    --color-text: #e0e1dd;
    --color-text-muted: #778da9;
    --color-border: #415a77;
    --shadow: rgba(0, 0, 0, 0.3);
    --shadow-hover: rgba(0, 0, 0, 0.5);
    --card-color: #404346;
    --main-task-color: #373835;
    --main-task-text-color: white;
    --add-task-bg-color: #373835;
    --add-task-text-color: white;
    
    --main-area-bg: #1e1e1e;
    --sidebar-bg: #2b2a28;
    --sidebar-text: #ebebeb;
    --detail-bg: #323232;
    --detail-text-color: white;
    --selected-list-bg: #373835;
    --main-text: #ebebeb;
    --subtask-action:#778da9;
    --subtask-color: #e0e1dd;
    --todo-selection-border:#ebebeb; 
    --addlist: white;
  }
}